*{
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 240, 241);
    display: flow-root;
}
.header{
    background-color: rgb(44, 62, 80);
}
.mainPage{
    background-color: rgb(236, 240, 241);
}
.footer{
    background-color: rgb(44, 62, 80);
}
.images{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
#img1{
    height: 600; 
    border-style: solid;
    border-width: 5px; 
    border-radius: 10px; 
    border-color: rgb(155, 89, 182);
    margin: 25px;
}
.lastLink{
    margin: 0px;
}
#labelControls{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.label{
    font-weight: bold;
    font-style: italic;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: rgb(189, 195, 199);
    box-shadow: 1px 1px 4px rgb(241, 196, 15);
    border-width: 4px;
    background-color: rgb(44, 62, 80);
    text-align: center;
    gap: 10px;
}
#labelMitochondria{
    color: blue;
}
#labelNucleus{
    color: brown;
}
#labelEr{
    color: green;
}
#labelLysosome{
    color: yellow;
}
#labelGolgi{
    color: purple;
}
.arrow-container {
    position: relative;
}
.arrow {
    width: 50px;
    height: 50px;
    position: absolute;
}
.arrow.mito {
    transform: rotate(0deg);
}
.arrow.nucleus {
    transform: rotate(0deg);
}
.arrow.er {
    transform: rotate(0deg);
}
.arrow.lyso {
    transform: rotate(0deg);
}
.arrow.golgi {
    transform: rotate(0deg);
}
#arrowMitochondria { top: 300px; left: 525px; }
#arrowNucleus { top: 50px; left: 300px; }
#arrowEr { top: 200px; left: 150px; }
#arrowLysosome { top: 300px; left: 250px; }
#arrowGolgi { top: 150px; left: 350px; }
